{% load rest_framework %}
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入jQuery -->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 引入 Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


    <title>TaskDetail</title>
</head>
<body>

<h1>User - {{ task.title }}</h1>

{#<form class="button-form" action="{% url 'task' pk=task.pk %}" method="POST">#}
<form class="button-form"  method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="S7nzOFbggvB0S0XSFnBYAkooZ5MwxZYN">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger js-tooltip" title=""
            data-original-title="Make a DELETE request on the Task Instance resource">DELETE
    </button>
</form>


<div class="well tab-content">

    <div class="tab-pane active" id="put-object-form">
        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            <fieldset>

                <input type="hidden" name="csrfmiddlewaretoken" value="S7nzOFbggvB0S0XSFnBYAkooZ5MwxZYN">


                <div class="form-group ">

                    <label class="col-sm-2 control-label ">Title</label>

                    <div class="col-sm-10">
                        <input name="title" class="form-control" type="text">


                    </div>
                </div>


                <div class="form-group ">

                    <label class="col-sm-2 control-label ">Content</label>

                    <div class="col-sm-10">
                        <textarea name="content" class="form-control"></textarea>

                    </div>
                </div>

<div class="form-group ">
            <label class="col-sm-2 control-label ">Expire-Time</label>
            <div class="col-sm-10">
                <time name="content" class="form-control"  ></time>
            </div>
        </div>


                <!-- form.non_field_errors -->

                <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" name="_method" value="PUT" title="Update the task"
                            data-original-title="Make a PUT request on the Snippet Instance resource">PUT
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

</div>

</body>
</html>